<div class="content">
    <app-navbar></app-navbar>
    <div class="conversor-actions">
        <img src="../../../assets/images/snake.png" width="120px" />
        <br />
        <h1 class="header-text">Converta agora mesmo</h1>
        <h1 class="header-text">Milhões de músicas!</h1>
        <mat-icon aria-hidden="false" aria-label="SSSongs Icon" fontIcon="gesture"></mat-icon>
        <div class="wrapper">
            <input type="text" placeholder="Ex: https://youtu.be/dQw4w9WgXcQ">
            <button class="btn-primary">Converter MP3</button>
        </div>
        <p class="about">
            Nosso conversor de links do YouTube para MP3 simplifica a extração de áudio. Cole o link, obtenha o arquivo
            MP3
            em instantes. Rápido, intuitivo e eficaz para suas necessidades de áudio.
        </p>
    </div>
    <app-footer></app-footer>
</div>